# Игнорировать файлы редактора
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Игнорировать системные файлы
.DS_Store
Thumbs.db

# Игнорировать зависимости (если они появятся)
node_modules/
bower_components/

# Игнорировать скомпилированные файлы (если будете использовать препроцессоры CSS)
*.css.map
*.scss
*.sass

# Игнорировать локальные настройки (если будут)
.env
.env.local